<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="1">
<listeners>
	<listener class-name="utilities.ExtentReportManager"/>
	</listeners>
  <test name="Test1">
  	<parameter name="browser" value="chrome"/>
  	<parameter name="url" value="https://www.urbanladder.com/?src=g_breadcrumb"/>
    <classes>
      <class name="Base_page.Base_Class"/>
    </classes>
  </test> <!-- Test -->
    
</suite> <!-- Suite -->
